.tray-area {
  .trays-container {
    padding-top: 15px;
    padding-bottom: 45px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

    @media only screen and (min-width: 1170px) {
      max-width: calc(100vw - 100px);
    }

    @media only screen and (min-width: 769px) and (max-width: 1260px) {
      max-width: 100%;
      padding: 15px 10px 45px;
      margin: 0 80px 0 35px;
    }
  }
}
