<!-- <main-header></main-header> -->
<!-- <main-footer></main-footer> -->
<div class="landing-page-container">
  <div class="master-container">
    <div class="master-container-inner">
      <div class="header-container">
        <main-header></main-header>
      </div>
      <div class="landing-page">
        <div class="scorecard-area"></div>
        <div class="score-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- <main-footer></main-footer> -->
  </div>
</div>
