<div>
  <div class="tray-container">
    <div class="tray-wrapper">
      <div class="tray-carousel">
        <div class="container">
          <h2 class="tray-title">
            <a href="#" class="tray-link"> Latest &amp; Trending </a>
          </h2>
        </div>
        <div class="slider-container">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div ngxSlickItem *ngFor="let content of trayContent" class="slide">
              <div class="vertical">
                <article class="movie-card ripple vertical">
                  <a href="#" target>
                    <div class="thumbnail-container">
                      <div class="card card-img-container">
                        <img
                         
                          lazyLoad="https://img1.hotstarext.com/image/upload/f_auto,t_web_vl_3x/{{
                            content.images.v
                          }}"
                        />
                      </div>
                    </div>
                    <div class="details">
                      <div class="content-play">
                        <span class="content-title ellipsise">
                          Annabelle Rathore</span
                        >
                      </div>
                      <div class="sub-info">
                        <div class="dur show-gradient">2 hr 14 min</div>
                        <span class="subtitle">Horror, Hindi, 2021</span>
                      </div>
                      <div class="description ellipsize">
                        A scary journey begins when a small-time thief, Rudra,
                        enters a haunted castle and gets pulled into ...
                      </div>
                      <div class="action play-action">
                        <div class="play-icon"></div>
                        <div class="title">Watch movie</div>
                      </div>
                      <div class="action watchlist-action">
                        <div class="add-to-watchlist">
                          <div class="click-icon" title="Add to Watchlist">
                            <div class="click-icon-wrapper">
                              <div class="watchlist-icon"></div>
                              <p class="icon-title">Add to Watchlist</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </article>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
