<div class="header-container">
  <div class="static-container">
    <div class="dummy-header"></div>
    <div class="header fixed-header with-subs-nudge">
      <div class="nav-container">
        <div id="btn-hamburger" class="btn-hamburger">
          <div class="icon-wrapper">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
          <div class="submenu-container fade-in-quick">
            <div class="menu-wrapper">
              <div class="link-container">
                <a href="/in/channels" class="" to="/channels" target=""
                  ><div class="iconClass channels"></div>
                  <div>Channels</div></a
                >
              </div>
              <div class="link-container">
                <a href="/in/languages" class="" to="/languages" target=""
                  ><div class="iconClass languages"></div>
                  <div>Languages</div></a
                >
              </div>
              <div class="link-container">
                <a href="/in/genres" class="" to="/genres" target=""
                  ><div class="iconClass genres"></div>
                  <div>Genres</div></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="nav-logo">
          <a href="/in/" to="/" target=""
            ><img
              class="brand-logo"
              src="https://secure-media.hotstarext.com/web-assets/prod/images/brand-logos/disney-hotstar-logo-dark.svg"
              alt="Disney+&nbsp;Hotstar"
          /></a>
        </div>
        <div class="navigations" role="navigation">
          <ul>
            <li>
              <div class="dropdown-container">
                <a href="/in/tv" class="nav-link" to="/tv" target=""
                  ><div>TV</div></a
                >
                <div class="sublink-container slide-up">
                  <a
                    href="/in/channels/hotstar-specials"
                    to="/in/channels/hotstar-specials"
                    class="dropdown-link"
                    target=""
                  >
                    Hotstar Specials </a
                  ><a
                    href="/in/channels/quix"
                    to="/in/channels/quix"
                    class="dropdown-link"
                    target=""
                  >
                    Quix </a
                  ><a
                    href="/in/channels/star-jalsha"
                    to="/in/channels/star-jalsha"
                    class="dropdown-link"
                    target=""
                  >
                    Star Jalsha </a
                  ><a
                    href="/in/channels/starplus"
                    to="/in/channels/starplus"
                    class="dropdown-link"
                    target=""
                  >
                    StarPlus </a
                  ><a
                    href="/in/channels/star-vijay"
                    to="/in/channels/star-vijay"
                    class="dropdown-link"
                    target=""
                  >
                    Star Vijay </a
                  ><a
                    href="/in/channels/star-bharat"
                    to="/in/channels/star-bharat"
                    class="dropdown-link"
                    target=""
                  >
                    Star Bharat </a
                  ><a
                    href="/in/channels/asianet"
                    to="/in/channels/asianet"
                    class="dropdown-link"
                    target=""
                  >
                    Asianet </a
                  ><a
                    href="/in/channels/star-maa"
                    to="/in/channels/star-maa"
                    class="dropdown-link"
                    target=""
                  >
                    Star Maa </a
                  ><a
                    href="/in/channels"
                    to="/channels"
                    class="dropdown-link"
                    target=""
                  >
                    more...
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-container">
                <a href="/in/movies" class="nav-link" to="/movies" target=""
                  ><div>Movies</div></a
                >
                <div class="sublink-container slide-up">
                  <a
                    href="/in/movies/languages/hindi"
                    to="/in/movies/languages/hindi"
                    class="dropdown-link"
                    target=""
                  >
                    Hindi </a
                  ><a
                    href="/in/movies/languages/bengali"
                    to="/in/movies/languages/bengali"
                    class="dropdown-link"
                    target=""
                  >
                    Bengali </a
                  ><a
                    href="/in/movies/languages/telugu"
                    to="/in/movies/languages/telugu"
                    class="dropdown-link"
                    target=""
                  >
                    Telugu </a
                  ><a
                    href="/in/movies/languages/malayalam"
                    to="/in/movies/languages/malayalam"
                    class="dropdown-link"
                    target=""
                  >
                    Malayalam </a
                  ><a
                    href="/in/movies/languages/tamil"
                    to="/in/movies/languages/tamil"
                    class="dropdown-link"
                    target=""
                  >
                    Tamil </a
                  ><a
                    href="/in/movies/languages/marathi"
                    to="/in/movies/languages/marathi"
                    class="dropdown-link"
                    target=""
                  >
                    Marathi </a
                  ><a
                    href="/in/movies/languages/english"
                    to="/in/movies/languages/english"
                    class="dropdown-link"
                    target=""
                  >
                    English </a
                  ><a
                    href="/in/movies/languages/kannada"
                    to="/in/movies/languages/kannada"
                    class="dropdown-link"
                    target=""
                  >
                    Kannada
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-container">
                <a href="/in/sports" class="nav-link" to="/sports" target=""
                  ><div>Sports</div></a
                >
                <div class="sublink-container slide-up">
                  <a
                    href="/in/sports/cricket"
                    to="/in/sports/cricket"
                    class="dropdown-link"
                    target=""
                  >
                    Cricket </a
                  ><a
                    href="/in/sports/football"
                    to="/in/sports/football"
                    class="dropdown-link"
                    target=""
                  >
                    Football </a
                  ><a
                    href="/in/sports/formula-1"
                    to="/in/sports/formula-1"
                    class="dropdown-link"
                    target=""
                  >
                    Formula 1 </a
                  ><a
                    href="/in/sports/kabaddi"
                    to="/in/sports/kabaddi"
                    class="dropdown-link"
                    target=""
                  >
                    Kabaddi </a
                  ><a
                    href="/in/sports/tennis"
                    to="/in/sports/tennis"
                    class="dropdown-link"
                    target=""
                  >
                    Tennis </a
                  ><a
                    href="/in/sports/american-football"
                    to="/in/sports/american-football"
                    class="dropdown-link"
                    target=""
                  >
                    American Football </a
                  ><a
                    href="/in/sports/esports"
                    to="/in/sports/esports"
                    class="dropdown-link"
                    target=""
                  >
                    eSports </a
                  ><a
                    href="/in/sports/formula-e"
                    to="/in/sports/formula-e"
                    class="dropdown-link"
                    target=""
                  >
                    Formula E </a
                  ><a
                    href="/in/sports/martial-arts"
                    to="/in/sports/martial-arts"
                    class="dropdown-link"
                    target=""
                  >
                    Martial Arts </a
                  ><a
                    href="/in/sports/basketball"
                    to="/in/sports/basketball"
                    class="dropdown-link"
                    target=""
                  >
                    Basketball </a
                  ><a
                    href="/in/sports/badminton"
                    to="/in/sports/badminton"
                    class="dropdown-link"
                    target=""
                  >
                    Badminton </a
                  ><a
                    href="/in/sports/hockey"
                    to="/in/sports/hockey"
                    class="dropdown-link"
                    target=""
                  >
                    Hockey </a
                  ><a
                    href="/in/sports/athletics"
                    to="/in/sports/athletics"
                    class="dropdown-link"
                    target=""
                  >
                    Athletics </a
                  ><a
                    href="/in/sports/golf"
                    to="/in/sports/golf"
                    class="dropdown-link"
                    target=""
                  >
                    Golf </a
                  ><a
                    href="/in/sports/wrestling"
                    to="/in/sports/wrestling"
                    class="dropdown-link"
                    target=""
                  >
                    Wrestling </a
                  ><a
                    href="/in/sports/table-tennis"
                    to="/in/sports/table-tennis"
                    class="dropdown-link"
                    target=""
                  >
                    Table Tennis </a
                  ><a
                    href="/in/sports/khelo-india"
                    to="/in/sports/khelo-india"
                    class="dropdown-link"
                    target=""
                  >
                    Khelo India
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-container">
                <a
                  href="/in/disneyplus"
                  class="nav-link"
                  to="/disneyplus"
                  target=""
                  ><div>Disney+</div></a
                >
              </div>
            </li>
            <li>
              <div class="dropdown-container">
                <a class="nav-link" to="" target=""
                  ><div class="iconClass kids"></div
                ></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="search-container right-element">
          <input
            class=""
            type="search"
            placeholder="Search"
            id="searchField"
            autocomplete="off"
            value=""
          />
          <div class="searchIcon"><i class="search-icon"></i></div>
          <div class="result-holder element-show">
            <div class="">
              <article class="ripple movie-card normal search-card">
                <a
                  href="/in/movies/bhoot-police/1260067821"
                  to="/in/movies/bhoot-police/1260067821"
                  target=""
                  ><div class="thumbnail-container">
                    <div class="card card-img-container">
                      <img
                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/4051/1054051-h-aad5a3d35219"
                        class="img-loader lazy-img-loader loaded"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="search-wrap">
                    <div class="meta-wrapper">
                      <div class="title">
                        <span class="content-title"> Bhoot Police</span>
                      </div>
                      <span class="subtitle">Horror, Hindi</span>
                    </div>
                  </div></a
                >
              </article>
            </div>
            <div class="">
              <article class="ripple show-card normal search-card">
                <a
                  href="/in/tv/the-empire/1260065198"
                  to="/in/tv/the-empire/1260065198"
                  target=""
                  ><div class="thumbnail-container">
                    <div class="card card-img-container">
                      <img
                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/1463/1051463-h-3a8c06d83131"
                        class="img-loader lazy-img-loader loaded"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="search-wrap">
                    <div class="meta-wrapper">
                      <div class="title">
                        <span class="content-title"> The Empire</span>
                      </div>
                      <span class="subtitle">Drama, Hotstar Specials</span>
                    </div>
                  </div></a
                >
              </article>
            </div>
            <div class="">
              <article class="ripple show-card normal search-card">
                <a
                  href="/in/tv/city-of-dreams/1260004642"
                  to="/in/tv/city-of-dreams/1260004642"
                  target=""
                  ><div class="thumbnail-container">
                    <div class="card card-img-container">
                      <img
                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/1440/1041440-h-4cba9c82b0ef"
                        class="img-loader lazy-img-loader loaded"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="search-wrap">
                    <div class="meta-wrapper">
                      <div class="title">
                        <span class="content-title"> City of Dreams</span>
                      </div>
                      <span class="subtitle">Drama, Hotstar Specials</span>
                    </div>
                  </div></a
                >
              </article>
            </div>
            <div class="">
              <article class="ripple show-card normal search-card">
                <a
                  href="/in/tv/shinchan/1260020929"
                  to="/in/tv/shinchan/1260020929"
                  target=""
                  ><div class="thumbnail-container">
                    <div class="card card-img-container">
                      <img
                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/3555/753555-h"
                        class="img-loader lazy-img-loader loaded"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="search-wrap">
                    <div class="meta-wrapper">
                      <div class="title">
                        <span class="content-title"> Shin-chan</span>
                      </div>
                      <span class="subtitle">Kids, Select Picks</span>
                    </div>
                  </div></a
                >
              </article>
            </div>
            <div class="">
              <article class="ripple movie-card normal search-card">
                <a
                  href="/in/movies/annabelle-rathore/1260068264"
                  to="/in/movies/annabelle-rathore/1260068264"
                  target=""
                  ><div class="thumbnail-container">
                    <div class="card card-img-container">
                      <img
                        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/7271/1057271-h-a1bb3de8a53f"
                        class="img-loader lazy-img-loader loaded"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="search-wrap">
                    <div class="meta-wrapper">
                      <div class="title">
                        <span class="content-title"> Annabelle Rathore</span>
                      </div>
                      <span class="subtitle">Horror, Hindi</span>
                    </div>
                  </div></a
                >
              </article>
            </div>
            <a
              href="/in/search?q=d"
              class="more-result"
              id="more-link"
              to="/in/search?q=d"
              target=""
              >More results</a
            >
          </div>
        </div>
        <button
          type="button"
          historyparams="[object Object]"
          class="subscribe-btn right-element"
        >
          Subscribe
        </button>
        <div class="right-element user-profile">
          <div role="presentation" class="signIn">LOGIN</div>
        </div>
      </div>
    </div>
  </div>
</div>
